@font-face {
  font-family: 'Fira Code';
  src: url('type/eot/FiraCode-Light.eot');
  src:
    url('type/eot/FiraCode-Light.eot') format('embedded-opentype'),
    url('type/woff2/FiraCode-Light.woff2') format('woff2'),
    url('type/woff/FiraCode-Light.woff') format('woff'),
    url('type/ttf/FiraCode-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('type/eot/FiraCode-Regular.eot');
  src:
    url('type/eot/FiraCode-Regular.eot') format('embedded-opentype'),
    url('type/woff2/FiraCode-Regular.woff2') format('woff2'),
    url('type/woff/FiraCode-Regular.woff') format('woff'),
    url('type/ttf/FiraCode-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('type/eot/FiraCode-Medium.eot');
  src:
    url('type/eot/FiraCode-Medium.eot') format('embedded-opentype'),
    url('type/woff2/FiraCode-Medium.woff2') format('woff2'),
    url('type/woff/FiraCode-Medium.woff') format('woff'),
    url('type/ttf/FiraCode-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('type/eot/FiraCode-Bold.eot');
  src:
    url('type/eot/FiraCode-Bold.eot') format('embedded-opentype'),
    url('type/woff2/FiraCode-Bold.woff2') format('woff2'),
    url('type/woff/FiraCode-Bold.woff') format('woff'),
    url('type/ttf/FiraCode-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

html {
  font-family: 'Fira Code', monospace;
  font-weight: 300;
  background-color: #222;
}

body {
  background-color: #111;
  border: #fffe93 1px solid;
  color: #fffe93;
  position: relative;
  max-width: 40em;
  margin: calc(2em + 2ex) auto;
  padding: 2em;
  word-break: break-word;
}
*,html {
  margin: 0; padding: 0;
	color: #fff;

  line-height: calc(1em + 1ex);
  box-sizing: border-box;

  font-family: monospace;
	font-size: 1em;
	font-weight: normal;
}
body {
	background: #c2c2c2;
	padding: 1ch;
}
div {
	padding: 1ch;
	background: rgba(51,51,51,0.7);
	width: 82ch;
}
header,
main,
footer {
	width: 80ch;
}
main h1,
main h2,
main h3,
header,
footer {
	margin-top: 1em;
}
p,
ul,
dl {
	margin-left: 4ch;
	text-align: justify;
}
ul {
	list-style: none;
}
p + p,
p + ul,
ul + p {
	margin-top: 1em;
}
p + ul {
	margin-left: 8ch;
}
dl {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
dt,
dd {
	margin-top: 1em;
}
dt {
	width: 13ch;
}
dd {
	width: 62ch;
}
header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
header span:first-of-type { order: 1; }
header h1 { order: 2; }
header span:last-of-type { order: 3; }
footer {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

@media (min-width: 40em) and (min-height: 20em) {
  body {
    /* Go all Tschichold when supported */
    padding: calc(2em + 2ex);
    margin: 11.1vh 22.2vw 22.2vh 11.1vw;
  }
}

@media (min-width: 70em) and (min-height: 35em) {
  body {
    /* Go all Tschichold when supported */
    max-width: 70em;
    padding: 11.1vh 22.2vw 22.2vh 11.1vw;
  }
}

@media (min-width: 90em) {
  body {
    max-width: 66.6vw;
  }
}