:root {
  --bgcolor: #ffe6f2;
  --fgcolor: #0042d0;
  --hlcolor: red;
  --termcolor: #424242ca;
  --gap: 1rem;
}

/*******************************************************************************
._ __  __ _(_)_ _   | |__ _ _  _ ___ _  _| |_  This is a really basic layout,
| '  \/ _` | | ' \  | / _` | || / _ \ || |  _| working from browser styles it
|_|_|_\__,_|_|_||_| |_\__,_|\_, \___/\_,_|\__| just sets fonts and placement...
*****************************|__/**********************************************/

/* Following https://www.a11yproject.com/posts/how-to-hide-content/  */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

* {
  box-sizing: border-box;
}

[id] {
  scroll-margin-top: 3rem;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 4rem 1rem;
  /* Thanks to https://modernfontstacks.com/ */
  font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
  font-weight: normal;
}

header,
footer {
  display: contents;
}

header > a {
  display: block;
  position: fixed;
  top: 1rem;
  left: 1rem;
  width: 4rem;
  z-index: calc(infinity);
  animation: breathe 5s ease-out infinite normal;
}
@keyframes breathe {
  0% {
    transform: scale(0.96);
  }
  25% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.96);
  }
  100% {
    transform: scale(0.96);
  }
}
header > a div {
  animation: rotateX linear;
  animation-timeline: scroll(root y);
}
header > a svg {
  background: red;
  fill: white;
  animation: rotateY linear;
  animation-timeline: scroll(root x);
}
@keyframes rotateX {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(7560deg);
  }
}
@keyframes rotateY {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(7560deg);
  }
}

header ul {
  position: fixed;
  padding: 0;
  top: 0.5rem;
  right: 1rem;
  display: flex;
  flex-flow: row nowrap;
  gap: var(--gap);
  list-style: none;
  max-width: calc(100vw - 7rem);
  overflow: hidden;
}

footer p {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  margin: 0;
}

footer p span {
  display: inline-block;
  transform-origin: center;
  transform: rotate(180deg);
  margin-right: 0.1rem;
}

main {
  position: relative;
}

article ol,
article ul {
  padding: 0;
  list-style-position: inside;
}
article sup {
  line-height: 0.6rem;
  font-size: 0.8rem;
}
article sup a,
article .footnotes a {
  text-decoration: none;
}
article hr {
  margin: 1rem 0;
  border: 0;
  height: 1px;
  width: 7rem;
  background: var(--fgcolor);
}

div#grid {
  display: none;
  position: absolute;
  pointer-events: none;
  z-index: -1;
  width: 100%;
  height: 100%;
  border: 1px solid hotpink;
  background: repeating-linear-gradient(
      to right,
      transparent,
      transparent calc(var(--cellsize) - 1px),
      hotpink var(--cellsize),
      transparent calc(var(--cellsize) + 1px),
      transparent calc(var(--cellsize) + var(--gapsize) - 2px),
      hotpink calc(var(--cellsize) + var(--gapsize) - 1px),
      transparent calc(var(--cellsize) + var(--gapsize))
    ),
    repeating-linear-gradient(
      to bottom,
      transparent,
      transparent calc(var(--cellsize) - 1px),
      hotpink var(--cellsize),
      transparent calc(var(--cellsize) + 1px),
      transparent calc(var(--cellsize) + var(--gapsize) - 2px),
      hotpink calc(var(--cellsize) + var(--gapsize) - 1px),
      transparent calc(var(--cellsize) + var(--gapsize))
    );
}

@media (min-width: 30rem) {
  main {
    --cellsize: 15rem;
    --gapsize: 2rem;

    display: grid;
    place-items: stretch;
    justify-content: stretch;

    width: calc(42 * var(--cellsize) + 41 * var(--gapsize));
    grid-template-columns: repeat(42, var(--cellsize));
    grid-template-rows: repeat(42, var(--cellsize));
    gap: var(--gapsize);
  }
  div#grid {
    display: block;
  }
}

@media (min-width: 60rem) {
  main {
    --cellsize: 20rem;
    --gapsize: 5rem;
  }
}

/*******************************************************************************
| _ \ |__ _ __ ___ _ __  ___ _ _| |_ 
|  _/ / _` / _/ -_) '  \/ -_) ' \  _|
|_| |_\__,_\__\___|_|_|_\___|_||_\__|
*******************************************************************************/

#welcome {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#garden {
  grid-column: 2 / span 2;
  grid-row: 3 / span 2;
}

#incomprehensible {
  grid-column: 15 / 16;
  grid-row: 25 / 26;
}

#desire {
  grid-column: 16 / span 2;
  grid-row: 2 / span 3;
  columns: auto var(--cellsize);
}

#manpage {
  grid-column: 40 / span 2;
  grid-row: 3;
}

#diwhy {
  grid-column: 7 / span 2;
  grid-row: 14 / span 2;

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

#zen {
  grid-column: 2 / 3;
  grid-row: 40 / 41;
}

#heap {
  grid-column: 41 / span 2;
  grid-row: 40 / span 3;
}

/*******************************************************************************
. __ _ _  _ ___| |_ ___ ___
/ _` | || / _ \  _/ -_|_-<
\__, |\_,_\___/\__\___/__/
****|_|************************************************************************/
blockquote {
  margin: 0;
}
blockquote p {
  margin-bottom: 0.5rem;
  text-wrap: balance;
  font-size: 2rem;
}
blockquote p::before {
  content: '“';
}
blockquote p::after {
  content: '„';
}
blockquote cite {
  font-size: 1rem;
  white-space: nowrap;
}

/*******************************************************************************
. __ ___ _ _  ______| |___ 
/ _/ _ \ ' \(_-< _ \ / -_)
\__\___/_||_/__|___/_\___|
*******************************************************************************/
section.console {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  border-radius: 1rem;
  flex-grow: 2;
}
section.console h2 {
  background: linear-gradient(to top, #ccc, #f5f5f5);
  color: #000;
  line-height: 1.4rem;
  font-size: 1rem;
  margin-bottom: 0;
  border-radius: 0.5rem 0.5rem 0 0;
  text-align: center;
}
section.console::before,
section.console::after {
  position: absolute;
  display: block;
  content: '';
  width: 0.7rem;
  height: 0.7rem;
  left: 0.4rem;
  top: 1.2rem;
  border-radius: 50%;
  z-index: 10;
}
section.console::before {
  background-color: red;
}
section.console::after {
  left: 1.4rem;
  background-color: orange;
}
section.console textarea {
  flex-grow: 2;
  background: var(--termcolor) !important;
  resize: none;
  padding: 0.2rem;
  color: var(--bgcolor);
  font-family: monospace;
  text-align: left;
  outline: none !important;
  border-radius: 0 0 0.5rem 0.5rem;
}
