
/* MARK: Skull
*/
@property --skull-lightness {
  syntax: '<percentage>';
  initial-value: 100%;
  inherits: false;
}

@property --skull-hue {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes lightness {
  0% {
    --skull-lightness: 100%;
  }
  100% {
    --skull-lightness: 0%;
  }
}
@keyframes hue {
  0% {
    --skull-hue: 0deg;
  }
  100% {
    --skull-hue: 360deg;
  }
}

#skull {
  #thoughts {
    fill: black;
    @supports (fill: oklch(0 0 0)) {
      fill: oklch(var(--skull-lightness) 0.5 var(--skull-hue));

      @media (prefers-reduced-motion: no-preference) {
        animation: 10s hue infinite, 2s lightness infinite alternate;

        @supports (animation-timeline: view()) {
          animation: hue linear;
          animation-timeline: view(y);
        }
      }
    }
  }
}

/* MARK: Window
*/
#window {
  --wall: 1.5rem;
  aspect-ratio: 1 / 2;
  border: 1px solid black;
  border-top-left-radius: 10rem;
  border-top-right-radius: 10rem;
  background: darkgrey;
  background-image: linear-gradient(337deg, #4040ff 6% 6%, #ffd713 100%);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  box-shadow: inset var(--wall) calc(var(--wall) * 0.6) 0 silver,
    inset calc(var(--wall) + 1px) calc(var(--wall) * 0.6 + 1px) 0 black;
}
@supports (color: color(display-p3 1 1 1)) {
  #window {
    background-image: linear-gradient(
      337deg in lch,
      color(display-p3 25% 25% 100%) 6% 6%,
      color(display-p3 100% 85% 30%) 100%
    );
  }
}

@keyframes gradient {
  0% {
    background-position: top;
  }
  25% {
    background-position: left;
  }
  50% {
    background-position: bottom;
  }
  75% {
    background-position: right;
  }
  100% {
    background-position: top;
  }
}

/* MARK: Blockquotes
*/
blockquote {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(black 15%, transparent 16%), radial-gradient(black 15%, transparent 16%);
  background-size: 8px 8px;
  background-position: 0 0, 4px 4px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
blockquote p {
  margin: 0;
  background: var(--bgcolor);
  text-wrap: balance;
  font-size: 1.9rem;
}
blockquote p::before {
  content: '“';
}
blockquote p::after {
  content: '„';
}
blockquote cite {
  padding-top: 0.5rem;
  font-size: 1rem;
  white-space: nowrap;
  background: var(--bgcolor);
}

/* MARK: Console
*/
section.console {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  border-radius: 1rem;
  flex-grow: 2;
}
section.console h2 {
  background: linear-gradient(to top, #ccc, #f5f5f5);
  color: #000;
  line-height: 1.4rem;
  font-size: 1rem;
  margin-bottom: 0;
  border-radius: 0.5rem 0.5rem 0 0;
  text-align: center;
}
section.console::before,
section.console::after {
  position: absolute;
  display: block;
  content: '';
  width: 0.7rem;
  height: 0.7rem;
  left: 0.4rem;
  top: 0.6rem;
  border-radius: 50%;
  z-index: 10;
}
section.console::before {
  background-color: red;
}
section.console::after {
  left: 1.4rem;
  background-color: orange;
}
section.console textarea {
  flex-grow: 2;
  min-height: 5rem;
  background: var(--termcolor) !important;
  resize: none;
  padding: 0.2rem;
  color: var(--bgcolor);
  font-family: monospace;
  text-align: left;
  outline: none !important;
  border-radius: 0 0 0.5rem 0.5rem;
}
